{% extends 'base.html' %}

{% block title %}
    boots
{% endblock %}

{% load static %}

{% block body %}
    <h1>boots</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in items %}
            <div class="col-4 col-md-3">
                <div class="card h-100">
                     <a href="{% url 'item' %}"><img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"></a>
                    <div class="card-body">
                        <a href="{% url 'item' %}"><h5 class="card-title"> {{ item.name }} </h5></a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    {% comment %}<div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/80s-boot-b.jpg' %}" class="card-img-top" alt="80s boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> 80s boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/short-boot-b.jpg' %}" class="card-img-top" alt="short boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> short boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/snow-boot-b.jpg' %}" class="card-img-top" alt="snow boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> snow boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/fasion-boot-g.jpg' %}" class="card-img-top" alt="fashion boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> fashion boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/furlined-boot-g.jpg' %}" class="card-img-top" alt="furlined boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> furlined boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/snow-boot-g.jpg' %}" class="card-img-top" alt="snow boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> snow boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/foldable-boot-bl.jpg' %}" class="card-img-top" alt="foldable boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> foldable boots</h5></a>
                </div>
            </div>
        </div>

    <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/polar-boot-bl.jpg' %}" class="card-img-top" alt="polar boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> polar boots</h5></a>
                </div>
            </div>
        </div>

  <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/snow-boot-bl.jpg' %}" class="card-img-top" alt="snow boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> snow boots</h5></a>
                </div>
            </div>
        </div>

  <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/fuzzy-boot-p.jpg' %}" class="card-img-top" alt="fuzzy boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> fuzzy boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/snow-boot-p.jpg' %}" class="card-img-top" alt="snow boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> snow boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/tall-boot-p.jpg' %}" class="card-img-top" alt="tall boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> tall boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/furlined-boot-gr.jpg' %}" class="card-img-top" alt="furlined boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> furlined boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/juicy-boot-gr.jpg' %}" class="card-img-top" alt="juicy boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> juicy boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/plain-boot-gr.jpg' %}" class="card-img-top" alt="plain boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> plain boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/tall-boot-w.jpg' %}" class="card-img-top" alt="tall boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> tall boots</h5></a>
                </div>
            </div>
        </div>

<div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/boots/snow-boot-w.jpg' %}" class="card-img-top" alt="snow boot"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> snow boots</h5></a>
                </div>
            </div>
        </div>



    </div>{% endcomment %}
{% endblock %}