{% extends 'base.html' %}

{% block title %}
    Gloves
{% endblock %}

{% load static %}

{% block body %}
    <h1>gloves</h1>
{#    <img src="{{ Item.image.url }}" alt="">#}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in items %}
            <div class="col-4 col-md-3">
                <div class="card h-100">
                     <a href="{% url 'item' %}"><img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"></a>
                    <div class="card-body">
                        <a href="{% url 'item' %}"><h5 class="card-title"> {{ item.name }} </h5></a>
                        <input id="user_quantity" type="number" value="quantity">
                        <button type="submit" >Add to cart</button>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    {% comment %}<div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="{% url 'item' %}"><img src="{% static 'images/gloves/poke-gloves-b.jpg' %}" class="card-img-top" alt="Pikachu gloves"></a>
                <div class="card-body">
                    <a href="{% url 'item' %}"><h5 class="card-title"> Pika gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/knitted-gloves-b.jpg' %}" class="card-img-top" alt="Knitted gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">gingerglesscloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/outdoorsy-gloves-b.jpg' %}" class="card-img-top" alt="Outside gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Outside gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/snow-gloves-p.jpg' %}" class="card-img-top" alt="Snow gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Snow gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/convertable-gloves-p.jpg' %}" class="card-img-top" alt="Convertable gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Convertable gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/alpaca-gloves-p.jpg' %}" class="card-img-top" alt="Alpaca gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Alpaca gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/waterproof-gloves-bl.jpg' %}" class="card-img-top" alt="Waterproof gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Waterproof gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/driving-gloves-bl.jpg' %}" class="card-img-top" alt="Driving gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Driving gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/convertable-gloves-bl.jpg' %}" class="card-img-top" alt="Convertable gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Convertable gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/fingerless-gloves-gr.jpg' %}" class="card-img-top" alt="Snow gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Fingerless gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/touchscreen-gloves-gr.jpg' %}" class="card-img-top" alt="Touchscreen gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Touchscreen gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/leather-gloves-gr.jpg' %}" class="card-img-top" alt="Leather gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Leather gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/leather-gloves-w.jpg' %}" class="card-img-top" alt="Leather gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Leather gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/ski-gloves-w.png' %}" class="card-img-top" alt="Ski gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Ski gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/fauxfur-gloves-w.jpg' %}" class="card-img-top" alt="Fauxfur gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Faux-fur gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/touchscreen-gloves-g.jpg' %}" class="card-img-top" alt="Touchscreen gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Touchscreen gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/snow-gloves-g.jpg' %}" class="card-img-top" alt="Snow gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Snow gloves</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/gloves/riding-gloves-g.jpg' %}" class="card-img-top" alt="Riding gloves"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Riding gloves</h5></a>
                </div>
            </div>
        </div>

    </div>{% endcomment %}
{% endblock %}