{% extends 'base.html' %}

{% block title %}
    Hats
{% endblock %}

{% load static %}

{% block body %}
    <h1>Accessories</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in items %}
            <div class="col-4 col-md-3">
                <div class="card h-100">
                     <a href="{% url 'item' item.id %}"><img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"></a>
                    <div class="card-body">
                        <a href="{% url 'item' item.id %}"><h5 class="card-title"> {{ item.name }} </h5></a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>

   {% comment %} <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/bear-hat-w.jpg' %}" class="card-img-top" alt="Bear hat"></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title"> bear hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/fauxfur-hat-w.jpg' %}" class="card-img-top" alt="Fauxfur hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Faux-fur hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/ponytail-hat-w.jpg' %}" class="card-img-top" alt="ponytail hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">ponytail hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/cat-hat-bl.jpg' %}" class="card-img-top" alt="Cat hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">cat hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/earflap-hat-bl.jpg' %}" class="card-img-top" alt="earflap hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">earflap hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/tassle-hat-bl.jpg' %}" class="card-img-top" alt="tassle hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">tassle hat</h5></a>
                </div>
            </div>
        </div>



        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/furlinedbucket-hat-bl.jpg' %}" class="card-img-top" alt="Furlined bucket hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Fur-lined bucket hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/capbeanie-hat-p.jpg' %}" class="card-img-top" alt="capbeanie hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">capbeanie hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/tiedyebeanie-hat-p.jpg' %}" class="card-img-top" alt="tiedye hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Tie-dye hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/winter-hat-p.jpg' %}" class="card-img-top" alt="Winter hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Winter hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/santa-hat.jpg' %}" class="card-img-top" alt="santa hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">santa hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/cthulhufacemask-hat-g.jpg' %}" class="card-img-top" alt="Cthulhu hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Cthulu hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/thickbeanie-hat-g.jpg' %}" class="card-img-top" alt="Thick beanie hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Thick beanie hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/pombeanie-hat-b.jpg' %}" class="card-img-top" alt="Pombeanie hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Pom beanie hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/twotonebeanie-hat-b.jpg' %}" class="card-img-top" alt="Twotonebeanie hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Two-tone beanie hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/plaidbucket-hat-b.jpg' %}" class="card-img-top" alt="plaidbucket hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">plaid bucket hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/heartprint-hat-gr.jpg' %}" class="card-img-top" alt="heartprint hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Heart-print hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/plainbeanie-hat-gr.jpg' %}" class="card-img-top" alt="Plainbeanie hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Plain beanie hat</h5></a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'images/hats/pombeanie-hat-gr.jpg' %}" class="card-img-top" alt="Pombeanie hat"></a>
                <div class="card-body">
                    <a href=""><h5 class="card-title">Pombeanie hat</h5></a>
                </div>
            </div>
        </div>
    </div>{% endcomment %}
{% endblock %}